/* =============================================================================
 *   IIT Homepage - Global Styles - mobile first
 * ========================================================================== */

    /* Alert Message */
    .page-homepage #iit-alert-message .inner-container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .page-homepage #iit-alert-message #iit-alert-message-content {
        margin: 0 10px;
        overflow: hidden;
    }


    .page-homepage #iit-alert-message.information {
        background-color: #e3e3e3;
        border-bottom: 3px solid #666;
        box-shadow: inset 0px 3px 3px #333;
    }

    .page-homepage #iit-alert-message.emergency {
        background-color: #dc6603;
        border-bottom: 3px solid orange;
        box-shadow: inset 0px 3px 3px #333;
    }

    .page-homepage #iit-alert-message.critical {
        background-color: #c00;
        border-bottom: 3px solid red;
        box-shadow: inset 0px 3px 3px #333;
        margin-bottom: 2em;
    }


    .page-homepage #iit-alert-message.critical #iit-alert-message-content {
        padding-left: 3.25em;
        background-image: url('images/emergency-icon-white.png');
        background-image: url('images/emergency-icon-white.svg'), none;
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: 0 4.375em;
    }


    .page-homepage #iit-alert-message.information h1.message-title {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #333;
        font-size: 1.25em;
        font-weight: bold;
        margin: 1em 0 0;
    }

    .page-homepage #iit-alert-message.emergency h1.message-title {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
        font-size: 1.7em;
        font-weight: bold;
        margin: 1em 0 0;
    }

    .page-homepage #iit-alert-message.critical h1.message-title {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
        font-size: 2.25em;
        font-weight: bold;
        margin: 1.75em 0 0;
    }


    .page-homepage #iit-alert-message.information h3.message-updated {
        color: #888;
        font-size: 0.75em;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        margin: 0 0 0.6666666666666em;
    }

    .page-homepage #iit-alert-message.emergency h3.message-updated {
        color: #ffcb9f;
        font-size: 0.938em;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 0 0 0.9em;
    }

    .page-homepage #iit-alert-message.critical h3.message-updated {
        color: #fff;
        font-size: 1em;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 0 0 1.25em;
    }


    .page-homepage #iit-alert-message.information .message-body {
        color: #333;
        font-size: 0.938em;
        margin: 0 0 1em;
    }

    .page-homepage #iit-alert-message.emergency .message-body {
        color: #fff;
        font-size: 1em;
        margin: 0 0 2em;
    }

    .page-homepage #iit-alert-message.critical .message-body {
        color: #fff;
        font-size: 1.1em;
        margin: 0 0 3em;
        font-weight: 600;
    }


    .page-homepage #iit-alert-message.information .message-body a {
        color: #888;
        text-decoration: underline;
        font-weight: bold;
    }

    .page-homepage #iit-alert-message.emergency .message-body a {
        color: #fff;
        text-decoration: underline;
        font-weight: bold;
    }

    .page-homepage #iit-alert-message.critical .message-body a {
        color: #fff;
        text-decoration: underline;
        font-weight: bold;
    }


    .page-homepage #iit-alert-message.information .message-body p {
        margin: 0 0 0.75em;
    }

    .page-homepage #iit-alert-message.emergency .message-body p {
        margin: 0 0 0.75em;
    }

    .page-homepage #iit-alert-message.critical .message-body p {
        margin: 0 0 0.75em;
    }
    /* end Alert Message */

    
    /* Homepage Structure */
    .page-homepage #content-wrapper #block-system-main {
        margin: 0;
    }

    .page-homepage #header-wrapper {
        margin: 0;
    }

    .page-homepage #content-wrapper .container {
        max-width: inherit;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row {
        max-width: 1140px;
        margin: 0 auto 20px;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row .panels-flexible-row-inside {
        margin: 0 10px;
    }

    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-inside {
        padding: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-inside .block-inner {
        margin: 0;
    }
    /* end Homepage Structure */


    /* Department Links Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links .block-title,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links .block-title {
        display: none;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links p,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links p {
        margin: 10px 0 0;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links p:first-child,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links p:first-child {
        margin-top: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links a {
        color: white;
        font-family: 'EconomicaBold-IIT', sans-serif;
        font-size: 23px;
        line-height: 1em;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        padding: 0.54545454545455em 0.54545454545455em 0.36363636363636em;
        background-color: #c00;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a.uga {
        background-color: #F90;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a.ga {
        background-color: #9B0000;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a.athletics {
        background-color: #c00;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a.fueling-innovation {
        background-color: #888;
    }
    /* end Department Links Region */


    /* News and Events Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .block-title {
        color: #fff;
        font-family: 'EconomicaBold-IIT', sans-serif;
        font-size: 23px;
        line-height: 1em;
        text-transform: uppercase;
        padding: 0.54545454545455em 0.54545454545455em 0.36363636363636em;
        margin-bottom: 10px;
        border: 0;
        background-color: #444;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-row {
        margin: 0.875em 0em;
        position: relative;
        min-height: 4.375em;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-row a {
        text-decoration: none;
    }


    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-field-date {
        font-size: 0.875em;
        font-weight: 700;
        color: #333;
        margin-left: 100px;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-title {
        font-family: 'oswald', sans-serif;
        font-weight: 400;
        font-size: 1.0625em;
        margin-left: 100px;
        color: #888;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-title a {
        color: #888;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-body {
        color: #111;
        margin-left: 100px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1em;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-body a {
        color: #111;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-body p {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-nothing {
        width: 80px;
        background-color: #fff;
        position: absolute;
        top: 6px;
        left: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-nothing .calendar-wrapper {
        border: 2px solid #444;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-nothing .calendar-wrapper a {
        text-decoration: none;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-nothing .calendar-wrapper .cal-day {
        background-color: #444;
        color: #fff;
        text-align: center;
        font-family: 'oswald', sans-serif;
        font-weight: 400;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .views-field-nothing .calendar-wrapper .cal-date {
        text-align: center;
        font-family: 'oswald', sans-serif;
        font-weight: 300;
        color: #333;
    }

    #iit-homepage-news-events .view-header a.iit-today {
        color: white;
        font-family: 'EconomicaBold-IIT', sans-serif;
        font-size: 23px;
        line-height: 1em;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        padding: 0.54545454545455em 0.54545454545455em 0.36363636363636em;
        background-color: #444;
    }

    #social-icons {
        display: block;
        float: right;
        margin-top: 30px;
    }

    #social-icons img {
       margin:0;
    }
    /* end News and Events Region */


    /* Featured Content Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content .block-title {
        display: none;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content p {
        margin: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content img {
        margin: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content .featured-2col {
        float: left;
        width: 48.181818181818%;
        margin-left: 3.636363636364%;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content .featured-2col:first-child {
        float: left;
        width: 48.181818181818%;
        margin-left: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content .featured-4x3 {
        position: relative;
        padding-bottom: 75%;
        height: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content .featured-4x3 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content .featured-16x9 {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-featured-content .featured-16x9 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* end Featured Content Region */


    /* Homepage Hero Slideshow */
    .page-homepage .iit-homepage .hero-row {
        padding: 0;
    }

    #homepage-hero-slideshow {
        max-width: 1120px;
        margin: 20px auto 20px;
    }

    #homepage-hero-slideshow .flexslider {
        margin: 0;
        background: #fff;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }

    #homepage-hero-slideshow .flexslider ul.slides {
        padding: 0;
    }

    #homepage-hero-slideshow .flexslider img {
        margin: 0;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item .slide-caption {
        overflow: hidden;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item a {
        text-decoration: none;
    }

    .no-touch #homepage-hero-slideshow .flexslider .slideshow-item a.slide-show-more:hover {
        background-color: #fff !important;
        color: #222 !important;
    }

    #homepage-hero-slideshow .slide-title {
	    border: 0;
	    font-family: 'Oswald', sans-serif;
	    font-weight: 700;
	}

	#homepage-hero-slideshow .slide-body {
	    font-weight: 600;
	    font-family: 'Open Sans', sans-serif;
	}

    #homepage-hero-slideshow .flex-direction-nav a {
        background-image: url('images/next-prev.svg');
        background-size: 60px 60px;
        width: 30px;
        height: 60px;
        background-color: #fff;
        text-indent: -9999px;
        text-align: left;
    }

    .no-svg #homepage-hero-slideshow .flex-direction-nav a {
        background-image: url('images/next-prev.png');
    }

    #homepage-hero-slideshow .flex-direction-nav a:before {
        content: none;
    }

    #homepage-hero-slideshow .flexslider:hover .flex-prev {
        opacity: 0.6;
        left: 0;
        background-position: 0 0;
    }

    #homepage-hero-slideshow .flexslider:hover .flex-next {
        opacity: 0.6;
        right: 0;
        background-position: 30px 0;
    }

    #homepage-hero-slideshow .flexslider:hover .flex-direction-nav a:hover {
        opacity: 1;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav {
        bottom: 6px;
        left: 6px;
        width: inherit;
        padding: 0;
        line-height: 11px;
        z-index: 25;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav li {
        margin-right: 4px;
    }
    /* end Homepage Hero Slideshow */




/* end IIT Homepage - Global Styles ========================================= */





/* Smartphone Sizes */
@media only screen and (max-width:399px) {
    /* Homepage Structure */
    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-left_content_region {
        width: 100%;
        margin-right: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-right_content_region {
        width: 100%;
        margin-left: 0;
    }
    /* end Homepage Structure */


    /* Homepage Hero Slideshow */
    #homepage-hero-slideshow .flexslider .slideshow-item .slide-image .slide-show-more {
        display: none;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav {
        bottom: 6px;
        padding: 6px;
        line-height: 11px;
    }
    
    #homepage-hero-slideshow .flexslider .flex-control-nav li {
        margin-right: 4px;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item .slide-caption {
        height: 0;
        padding-bottom: 25%;
        width: 100%;
    }

    #homepage-hero-slideshow .slide-title {
	    margin: 15px 15px 8px;
	    font-size: 22px;
	    line-height: 1.25em;
	}

	#homepage-hero-slideshow .slide-body {
		display: none;
	}
    /* end Homepage Hero Slideshow */


    /* Department Links Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links a {
        font-size: 21px;
    }
    /* end Department Links Region */


    /* News and Events Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .block-title {
        font-size: 23px;
    }
    /* end News and Events Region */
} /* end max 399 */

@media only screen and (min-width:400px) and (max-width:599px) {
    /* Homepage Structure */
    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-left_content_region {
        width: 100%;
        margin-right: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-right_content_region {
        width: 100%;
        margin-left: 0;
    }
    /* end Homepage Structure */


    /* Homepage Hero Slideshow */
    #homepage-hero-slideshow .flexslider .slideshow-item .slide-image .slide-show-more {
        display: none;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav {
        bottom: 0;
        padding: 0;
    }
    
    #homepage-hero-slideshow .flexslider .flex-control-nav li {
        margin-right: 4px;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item .slide-caption {
        height: 0;
        padding-bottom: 25%;
        width: 100%;
    }

    #homepage-hero-slideshow .slide-title {
	    margin: 20px 20px 8px;
	    font-size: 28px;
	    line-height: 1.25em;
	}

	#homepage-hero-slideshow .slide-body {
		display: none;
	}
    /* end Homepage Hero Slideshow */


    /* Department Links Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links a {
        font-size: 22px;
    }
    /* end Department Links Region */


    /* News and Events Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .block-title {
        font-size: 23px;
    }
    /* end News and Events Region */
} /* end 400 - 599 */
/* end Smartphone Sizes */





/* Tablet Sizes */
@media only screen and (min-width:600px) and (max-width:767px) {
    /* Homepage Structure */
    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-left_content_region {
        width: 100%;
        margin-right: 0;
    }

    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-right_content_region {
        width: 100%;
        margin-left: 0;
    }
    /* end Homepage Structure */


    /* Department Links Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links a {
        font-size: 23px;
    }
    /* end Department Links Region */


    /* News and Events Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .block-title {
        font-size: 23px;
    }
    /* end News and Events Region */
} /* end 600 - 799 */

@media only screen and (min-width:600px) and (max-width:799px) {
/* Homepage Hero Slideshow */
    #homepage-hero-slideshow .flexslider .slideshow-item .slide-image .slide-show-more {
        display: none;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav {
        bottom: 6px;
        padding: 0;
        line-height: 11px;
    }
    
    #homepage-hero-slideshow .flexslider .flex-control-nav li {
        margin-right: 4px;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item .slide-caption {
        height: 0;
        padding-bottom: 25%;
        width: 100%;
    }

    #homepage-hero-slideshow .slide-title {
	    margin: 15px 20px 8px;
	    font-size: 31px;
	    line-height: 1.25em;
	}

	#homepage-hero-slideshow .slide-body {
	    margin: 8px 20px;
	    font-size: 15px;
	}

	#homepage-hero-slideshow .slide-body p {
		font-size: 1em;
		line-height: 1.25em;
	}
    /* end Homepage Hero Slideshow */
} /* end 600 - 799 */

@media only screen and (min-width:768px) and (max-width:1024px) {
    /* Homepage Structure */
    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-left_content_region {
        width: 49.107142857143%;
        margin-right: 0.892857142857%;
    }

    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-right_content_region {
        width: 49.107142857143%;
        margin-left: 0.892857142857%;
    }
    /* end Homepage Structure */


    /* Department Links Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links a {
        font-size: 23px;
    }
    /* end Department Links Region */


    /* News and Events Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .block-title {
        font-size: 23px;
    }
    /* end News and Events Region */
} /* end 800 - 1024 */

@media only screen and (min-width:800px) and (max-width:1024px) {
    /* Homepage Hero Slideshow */
    #homepage-hero-slideshow .flexslider .slideshow-item .slide-caption {
        float: left;
        width: 31.25%;
        height: 0;
        padding-bottom: 31.25%;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item .slide-image {
        float: left;
        width: 68.75%;
        position: relative;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item .slide-image .slide-show-more {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: block;
        padding: 4px 8px;
        font-weight: 600;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav {
        bottom: 6px;
        left: 6px;
        width: inherit;
        padding: 0;
        line-height: 11px;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav li {
        margin-right: 4px;
    }

    #homepage-hero-slideshow .slide-title {
	    margin: 40px 25px 8px;
	    font-size: 26px;
	    line-height: 1.25em;
	}

	#homepage-hero-slideshow .slide-body {
	    margin: 8px 25px;
	    font-size: 15px;
	}

	#homepage-hero-slideshow .slide-body p {
		font-size: 1em;
		line-height: 1.25em;
	}
    /* end Homepage Hero Slideshow */
} /* end 800 - 1024 */
/* end Tablet Sizes */





/* Desktop Sizes */
@media only screen and (min-width:1025px) {
    /* Homepage Structure */
    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-left_content_region {
        width: 49.107142857143%;
        margin-right: 0.892857142857%;
    }

    .page-homepage .panel-flexible.iit-homepage .panels-flexible-region-iit-homepage-right_content_region {
        width: 49.107142857143%;
        margin-left: 0.892857142857%;
    }
    /* end Homepage Structure */


    /* Homepage Hero Slideshow */
    #homepage-hero-slideshow .flexslider .slideshow-item .slide-caption {
        float: left;
        width: 31.25%;
        height: 0;
        padding-bottom: 31.25%;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item .slide-image {
        float: left;
        width: 68.75%;
        position: relative;
    }

    #homepage-hero-slideshow .flexslider .slideshow-item .slide-image .slide-show-more {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: block;
        padding: 4px 8px;
        font-weight: 600;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav {
        bottom: 6px;
        left: 6px;
        width: inherit;
        padding: 0;
        line-height: 11px;
    }

    #homepage-hero-slideshow .flexslider .flex-control-nav li {
        margin-right: 4px;
    }

    #homepage-hero-slideshow .slide-title {
	    margin: 40px 25px 8px;
	    font-size: 32px;
	    line-height: 1.25em;
	}

	#homepage-hero-slideshow .slide-body {
	    margin: 8px 25px;
	    font-size: 17px;
	}

	#homepage-hero-slideshow .slide-body p {
		font-size: 1em;
		line-height: 1.25em;
	}
    /* end Homepage Hero Slideshow */


    /* Department Links Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-dept-links a,
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-secondary-links a {
        font-size: 23px;
    }
    /* end Department Links Region */


    /* News and Events Region */
    .page-homepage .panel-flexible.iit-homepage .content-row #iit-homepage-news-events .block-title {
        font-size: 23px;
    }
    /* end News and Events Region */
} /* end > 1300*/
/* end Desktop Sizes */







/** /
#content-wrapper {
    background-image: url('images/home-background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
}
/**/

