/*
 * Target IE 6, 7 and 8 (less than IE9)
 */
/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
/*html {
  font-size: 81.3%;
}
*/


#media-check {
  /* used for testing media query in js */
  font-family: 'ie';
}

#content-wrapper {
	min-width: 960px;
}

.container {
    min-width: 1024px;
}

/* Adjustments to add iit-utility styles        */
/* -------------------------------------------- */
  .col-sm-top-buffer { margin-top:20px; }
  .col-sm-bottom-buffer { margin-bottom:20px; }
  .col-sm-no-top-buffer { margin-top: 0; }
  .col-sm-no-bottom-buffer { margin-top: 0; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }


  .col-md-top-buffer { margin-top:20px; }
  .col-md-bottom-buffer { margin-bottom:20px; }
  .col-md-no-top-buffer { margin-top: 0; }
  .col-md-no-bottom-buffer { margin-top: 0; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
/* -------------------------------------------- */
/* end of Adjustments to add iit-utility styles */




/* PASTE DESKTOP STYLES BELOW */
/* -------------------------- */


/* Page main content region and sidebar margins */
.sidebar-second #content-column .content-inner {
  margin-right: 30.26315789%;
}

div.region-sidebar-second {
  margin-left: -29.12280701%;
}
/* end Page main content region */


/* Page Header Region */
#header-wrapper {
  margin-bottom: 2em;
}
/* end Page Header Region */


/* Page Header */
#header .iit-page-header h2 {
  font-size: 2.125em;
  padding: 1em 0 0.20588235294118em;
}
/* end Page Header */


/* header menu */
#header .block-menu-block ul {
  float: left;
  width: 100%;
}

#header .block-menu-block .menu-block-wrapper ul li {
  float: left;
}
/* end header menu */


/* Department Footer */
#footer #iit-department-footer {
  margin-bottom: 4px;
}

#footer #iit-department-footer h5 {
  font-size: 1.313em;
  margin: 6px 0 0 0;
}

#footer #iit-department-footer .social-icons {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6px;
}
/* end Department Footer */


/* Full Body Slideshow */
.full-body-slideshow .flexslider .slideshow-item .slide-caption {
    float: left;
    width: 31.25%;
    height: 0;
    padding-bottom: 31.25%;
}

.full-body-slideshow .flexslider .slideshow-item .slide-image {
    float: left;
    width: 68.75%;
    position: relative;
}

.full-body-slideshow .flexslider .slideshow-item .slide-image .slide-show-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    padding: 4px 8px;
    font-weight: 600;
}

.full-body-slideshow .flexslider .flex-control-nav {
    bottom: 8px;
    left: 6px;
    width: inherit;
    padding: 0;
    line-height: 11px;
}

.full-body-slideshow .flexslider .flex-control-nav li {
    margin: 0 2px;
}

.full-body-slideshow .slide-title {
    margin: 40px 35px 12px;
    font-size: 33px;
    line-height: 1.15em;
}

.full-body-slideshow .slide-body {
    margin: 8px 35px;
    font-size: 16px;
    line-height: 1.35em;
}

.full-body-slideshow .slide-body p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 0.75em;
}
/* end Full Body Slideshow */